/*  */
.tab_menus {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    
    background-color: gray;
    width: 100%;
    height: 50px;

}


/* 글자 가운데 오게 하는 건데, '선택자를 효율적으로 잡으면 좀 더 쉽지 않을까.' 📛📛 */
.tab_menus .tab01_label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab_menus .tab02_label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab_menus .tab03_label {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 탭 메뉴 간단한 레이아웃 (아직 정확하지 않음)  */
.tab_menus > input {
    width: 500px;
    height: 10px;
    background-color: gray;

    /* input 박스를 다 꺼버림 
    ❓ 왜 끄지? 
    다 끄면 -> 체크할 수 있는 라디오 버튼이 사라짐. 
    다 끄면 -> label 태그 만 살아남. */
    display: none;

}




/* 라벨을 선택해서 -> 마우스가 올라가면 -> 회색 바탕에, 손가락이 올라가는 것 처럼 
    
    선택할 때, 그냥, label 을 하면 되는거 아닌가? ❓❓❓ */
.tab_menus > input + label {
    /* inline-block : 옆에 주르륵 보이게 / 이게 없다면, 아래로 쭉 나열될 것  */
    display: inline-block;
    
    /* position: absolute;
    top : 30px;
    left: 10px; */

    color: blueviolet;
    width: 210px;
    height: 40px;
    background-color: lightgreen;
    
    /* 마우스 올렸을 때 -> 손가락 처럼 보이게 하기  */
    cursor: pointer;
}




/* 중요한거 하기 전 : checked 가 먹나
        📛 되기는 하는데, 탭3 이 안 된다.    */
.tab_menus > input:checked + label {
    color: red;
    background-color: black;
}



/* 튀어나올 놈 CSS */

.movie_container { 
    width: 100%;
    height: 100px;
    background-color: lightseagreen;
}




/* 이제 ⭐⭐⭐ 중요한거 하기 
    1) input 태그 중 , class 이름이 tab01 이고, 
    2) checked 되어 있는게 있으면 -> 밑으로 쭉 봐
        ❓❓❓ 그냥 클릭하면 -> checked 된거 라고 볼 수 있나❓❓❓ 
    3) 쭉 봤을 때 -> item1 class 있으면 -> { 이런 CSS 해줘} 
*/

input[class="tab01"]:checked ~ .item1{
    display: block;
    color: red;

}

